on:
    pull_request:
    push:
      branches:
        - main

name: check-clippy-test
jobs:
  acyclib:
    name: acyclib
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            components: clippy
        - run: cargo check --package acyclib
        - run: cargo clippy --package acyclib
        - run: cargo test --package acyclib

  bullet_lib:
    name: bullet_lib
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            components: clippy
        - run: cargo check --package bullet_lib --features cpu --no-default-features
        - run: cargo clippy --package bullet_lib --features cpu --no-default-features
        - run: cargo test --package bullet_lib --features cpu --no-default-features

  bullet_utils:
    name: bullet_utils
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            components: clippy
        - run: cargo check --package bullet-utils
        - run: cargo clippy --package bullet-utils
        - run: cargo test --package bullet-utils

  bullet-compiler:
      name: bullet-compiler
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v4
          - uses: dtolnay/rust-toolchain@stable
            with:
              components: clippy
          - run: cargo check --package bullet-compiler
          - run: cargo clippy --package bullet-compiler
          - run: cargo test --package bullet-compiler

  bullet-runtime:
      name: bullet-runtime
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v4
          - uses: dtolnay/rust-toolchain@stable
            with:
              components: clippy
          - run: cargo check --package bullet-runtime
          - run: cargo clippy --package bullet-runtime
          - run: cargo test --package bullet-runtime

  examples:
    name: examples
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            components: clippy
        - run: cargo check --examples --features cpu --no-default-features
        - run: cargo clippy --examples --features cpu --no-default-features
        - run: cargo test --examples --features cpu --no-default-features
