on:
    pull_request:
    push:
      branches:
        - main

name: check-clippy-test
jobs:
  acyclib:
    name: acyclib
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            component: clippy
        - run: cargo check --package acyclib
        - run: cargo clippy --package acyclib
        - run: cargo test --package acyclib

  bullet_core:
    name: bullet_core
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            component: clippy
        - run: cargo check --package bullet_core
        - run: cargo clippy --package bullet_core
        - run: cargo test --package bullet_core

  bullet_hip_backend:
    name: bullet_hip_backend
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            component: clippy
        - run: cargo check --package bullet_hip_backend --features gh-actions
        - run: cargo clippy --package bullet_hip_backend --features gh-actions

  bullet_lib:
    name: bullet_lib
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@stable
          with:
            component: clippy
        - run: cargo check --package bullet_lib --features cpu --no-default-features
        - run: cargo clippy --package bullet_lib --features cpu --no-default-features
        - run: cargo test --package bullet_lib --features cpu --no-default-features

name: format
jobs:
  name: rustfmt
  runs-on: ubuntu-latest
  steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          component: rustfmt
      - run: cargo fmt -- --check
